@layer components {
	div.process {
		display: grid;
		grid-template-areas: "config block output";
		/* grid-template-columns: 1fr 1fr 1fr; */
		justify-content: center;
		align-content: center;
		justify-items: center;
		align-items: center;
		grid-gap: 20px;
	}
	
	div.process .config {
		grid-area: config;
		padding: 20px;
		border-radius: 10px;
		background-color: lch(20 5 270);
	}
	
	div.process .config > * + * {
		margin-top: 5px;
	}
	
	div.process label {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		width: 260px;
	}
		
	select, input {
		width: 160px;
		background-color: lch(25 5 270);
		text-align: right;
	}
	
	div.process input {
		padding: 2px 4px;
	}
	
	div.process .block {
		grid-area: block;
	}
	
	div.process .output {
		grid-area: output;
		min-width: 9ch;
		padding: 20px;
		border-radius: 10px;
		background-color: lch(20 5 270);
		text-align: right;
	}
	
	div.process .warn-rpm {
		position: absolute;
		padding: 8px 16px;
		background-color: lch(10 10 0);
		box-shadow: 0 0 0 2px lch(100 10 0 / 0.1);
		color: lch(100 0 0);
		font-size: 12px;
	}
	
	div.process .warn-rpm code {
		margin: 0 6px;
		font-size: 12px;
	}
	
	
	div.pump {}
	
	div.pump blockquote {
		padding: 10px;
		border-left: 4px solid grey;
		background-color: lch(10 5 0);
	}
	
	div.pump ol {
		padding-left: 25px;
	}
	
	div.pump ol li {
		list-style: decimal;
		padding: 2px;
	}
	
	
}