@layer pages {
	main.index {
		display: grid;
		grid-template-rows: auto minmax(auto, 1fr);
		background-color: lch(6 1.65 328.72);
	}
	
	.generated {
		padding: 10px;
		opacity: 0.2;
		font-size: 10px;
		text-align: right;
	}
}