@layer pages {
	main.index {
		display: grid;
		grid-template-rows: auto minmax(auto, 1fr);
		background-color: lch(6 1.65 328.72);
	}
	
	footer {
		display: grid;
		grid-auto-flow: column;
		justify-content: space-between;
		align-items: end;
		padding: 20px;
		color: lch(100 0 0 / 0.5);
		font-weight: 300;
		font-size: 12px;
	}
	
	footer .right {
		text-align: right;
	}
	
	footer a {
		color: lch(70 30 328.72);
	}
	
	footer .name {
		color: lch(100 0 0 / 0.7);
		font-weight: 400;
	}
	
	footer .author {}
	footer .generated {
		color: lch(100 0 0 / 0.2);
	}
	
	
	.app-title {
		display: grid;
		justify-content: center;
		align-content: center;
		justify-items: center;
		align-items: center;
		font-size: 32px;
	}
}