@layer skeleton {
	html {
		background: black;
	}
	
	select {
		/* background: url('../images/textures/drone-down.svg') calc(100% - 2px) 50% / 1em 1em no-repeat;
		-moz-appearance: none; 
		-webkit-appearance: none; 
		appearance: none; */
		
		padding: 0.2em 1.2em 0.2em 0.2em;
		
		/* height: 30px; 
		width: 100px;
		padding: 5px; */
	}
	
	select:hover {
		background-color: lch(0 0 0 / 0.1);
	}
	
	#app {
		display: grid;
		grid-template-rows: minmax(auto, 1fr);
		height: 100%;
		color: #fff;
		font-family: Inter, system-ui, sans-serif;
		font-weight: 500;
		line-height: 1.4;
	}
	
	pre {
		background: hsl(0deg 0% 0% / 10%);
		tab-size: 3ch;
	}
	
	main {}
	
	.page {}
}